<!doctype html>
<html>
   <body>
        <style>
        table, th, td {

            border: 1px solid black;
            
            border-collapse: collapse;
            
            }
            
            th, td {
            
            padding: 10px;
            
            }
        </style>
        <table>
                <tr>
                <th colspan="4">Electronic Laboratory Notebook Chemical Risk Assessment</th>
            </tr>
            <tr>
                <th style="width:100px"> Reagent number</th>
                <th style="width:250px"> Reagents/Solvents </th>
                <th style="width:250px"> Major hazards (H-codes) </th>
                <th style="width:250px"> Major hazards (Warnings) </th>
            </tr>
            {% for key in reagents.keys()%} 
            <tr> 
                <td style="width:100px" rowspan="{{(reagents[key]|count)+1}}">{{loop.index}}</td>
                <td style="width:250px" rowspan="{{(reagents[key]|count)+1}}"> {{key.name}}</td>
            </tr>
                {% for haz in reagents[key]%}
                <tr>
                    <td style="width:250px">{{haz.code}}</td>                               
                    <td style="width:250px">{{haz.warning_line}}</td> 
                </tr>                
                {% endfor%}              
            
            {% endfor %}
            <tr>
                <td colspan="4"> NOTES: ALL chemicals should be regarded as harmful on contact with skin, eyes or on ingestion
                    ALL reactions to be carried out in accordance with company H&amp;S legislation </td>
            </tr>
            <tr>
                <td colspan="2"> Special safety requirements (including scrubbing, disposal and spillage strategy) </td>
                <td colspan="2"> (Enter your text here) </td>
            </tr>
            <tr>
            <td colspan="2"> Refer to COSHH assessment record Nos </td>                            
            <td colspan="2"> (Enter your text here) </td>
            </tr>
            <tr>
                <td> Signature </td>
                <td> (enter signature)</td>
                <td> Date </td>  
                <td>{{date}}</td> 
            </tr>
            <tr>
                <td colspan="4"> The following compounds were not found in the database: {{not_found_in_db}} </td>
            </tr>
        </table>
   </body>
</html>
